{% extends 'layout.html' %}

{% block content %}
<section class="py-5">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
        <div class="about-box">
            <h2>Бидний тухай</h2>
            <p>Манай цахим худалдааны веб нь хэрэглэгчдэд хамгийн сайн онлайн худалдааны туршлагыг санал болгох зорилготой. Бид өргөн хүрээний бүтээгдэхүүн, найдвартай үйлчилгээ, хэрэглэгчийн дэмжлэгээрээ алдартай.</p>
        </div>
    </div>
</section>
{% endblock %}
